# Ignore local .env files
.env.*.local
.env.local

# Ignore built files
/dist
/dist-spec
/dist-util

# Ignore installed modules
/node_modules

# Ignore test files
/.nyc_output
/coverage

# Ignore ct-gov cache
/ctgov-cache

# System Files
.DS_Store
Thumbs.db
